$color_1: #333333;
$input_fields_color: #757575;
$font-family_roboto: Roboto, sans-serif;
$background-color_1: #fff;
$background-color_2: transparent;

.lesson-builder-wrapper {
    width: 100%;
	/**** Lesson Details Section ****/
	.lesson-details{
		.lesson-details__title {
			font-family: $font-family_roboto;
			padding: 15px;
			font-size: 18px;
			font-weight: 600;
			background: #f9fafb;
			border-bottom: 1px solid #EAECF0;
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;
			width: 100%;
			display: flex;
			align-items: center;
			height: 48px;
		}
		.lesson-details__content{
			background-color: $background-color_1;
			box-sizing: border-box;
			padding: 15px;
			box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.02);
			.lesson-details__item{
				font-family: $font-family_roboto;
				font-size: 14px;
				font-weight: 400;
				line-height: 28px;
				text-align: left;
				.lesson-details__item-label{
					font-weight: 600;
				}
			}
		}
	}

    //Lessons Blocks
	.lessons-blocks{
		margin-bottom: 40px;
	}

    .lessons-blocks__title-wrapper{
        background: #fff;
        padding: 15px;
        width: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        display: flex;
        gap: 8px;
        align-items: center;
        .lessons-blocks__title{
            font-family: $font-family_roboto;
            font-size: 16px;
            font-weight: 400;
            color: $color_1;
        }
        .fa-book{
            width: 20px;
            height: 20px;
            color: #98A2B3;
        }
    }
    .lessons-blocks__subtitle-wrapper{
        background: #f9fafb;
        border-top: 1px solid #EAECF0;
        border-bottom: 1px solid #EAECF0;
        width: 100%;
        display: flex;
        align-items: center;
        height: 48px;
        .lessons-blocks__subtitle-item{
            &:first-child{
                width: 70px;
                display: flex;
                font-size: 14px;
                justify-content: center;
                color: #344054;
                font-weight: 600;
            }
            &:last-child{
              flex: 1;
              color: #344054;
              font-size: 14px;
              font-weight: 600; 
              padding-left: 33px;
            }
        }
    }
    .lessons-blocks{
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.1);
    }
	.lesson-materials {
		width: 100%;
		padding-top: 12px;
		border-bottom: 1px solid #ebebeb;
		padding-bottom: 22px;
        transition: all .5s ease;
        &:hover{
            background-color: #f7fbfd;
        }
        /*** Lesson Block Row ***/
        .lesson-block-rows{
            .lesson-block-item__header{
                display: flex;
                .lesson-block-item__order-number{
                    font-size: 16px;
                    justify-content: center;
                    color: #333333;
                    font-weight: 600;
                }
                .lesson-block-item__title{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    svg{
                        width: 12px;
                        height: 12px;
                        cursor: pointer;
                        color: #667085;
                    }
                    h3{
                        font-size: 14px;
                        justify-content: center;
                        color: #0883be;
                        font-weight: 600; 
                        cursor: pointer;
                        transition: all .5s ease;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
                
            }
            .lesson-block-item{
                display: flex;
                flex-direction: column;
                .lesson-block-item__order-number{
                    width: 70px;
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    justify-content: center;
                    color: #333333;
                    font-weight: 500;
                }
                .lesson-block-item__content{
                    width: 100%;
					.lesson-block-item__content-inner{
						padding: 15px 68px;
					}
                }
            }
        }

		.lesson-materials__guts {
			.edit-materisl-btn {
				height: 40px;
				border: none;
				background: transparent;
				cursor: pointer;
				svg {
                    color: #667085;
				}
			}
		}
		.lesson-materials__title {
			font-family: $font-family_roboto;
			font-size: 18px;
			font-weight: 600;
			color: $color_1;
		}
		.lesson-materials__content {
			font-family: $font-family_roboto;
			font-size: 14px;
			font-weight: 400;
			line-height: 28px;
			text-align: left;
		}
	}
}

.lesson-materials__word {
	display: flex;
	.lesson-materials__word-example {
		position: relative;
		font-family: $font-family_roboto;
		font-size: 14px;
		font-weight: 400;
		line-height: 28px;
		text-align: left;
		&:first-child {
			font-family: $font-family_roboto;
			font-size: 14px;
			font-weight: 700;
			line-height: 28px;
			text-align: left;
		}
	}
}

.lesson-materials__title_image {
    .lesson-materials__title_image-image {
        width: 70px;
        height: 70px;
        border-radius: 8px;
    }
    .lesson-materials__title_image-title {
        font-family: $font-family_roboto;
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
        text-align: left;
    }
}

.lesson-materials__title_main {
    .lesson-materials__title_main-title {
        font-family: $font-family_roboto;
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        text-align: left;
    }
}

.lesson-materials__text_image {
	.lesson-materials__text_image-image {
		width: 90px;
		height: 90px;
		border-radius: 8px;
	}
	.lesson-materials__text_image-description {
		font-family: $font-family_roboto;
		font-size: 14px;
		font-weight: 400;
		line-height: 28px;
		text-align: left;
		max-width: 400px;
		width: 100%;
	}
}

.lesson-materials__subtitle {
	.lesson-materials__subtitle-text {
		font-family: $font-family_roboto;
		font-size: 18px;
		font-weight: 500;
		line-height: 28px;
		text-align: left;
	}
}

.lesson-materials__example_underlined {
	.lesson-materials__example_underlined-text {
		font-family: $font-family_roboto;
		font-size: 30px;
		font-weight: 600;
		line-height: 28px;
		text-align: left;
	}
}

.lesson-materials__title_underline {
	.lesson-materials__title_underline-content {
		font-family: $font-family_roboto;
		font-size: 18px;
		font-style: italic;
		font-weight: 500;
		line-height: 28px;
		text-align: left;
	}
}


/*** Add New Lesson Block ***/

.add-new-block{
	padding-top: 25px;
	padding-bottom: 25px;
	.add-new-block__btn{
		width: 130px;
		height: 35px;
		line-height: 30px;
		border-radius: 50px;
		border: none;
		background-color: #0883be;
		cursor: pointer;
		font-family: $font-family_roboto;
		font-size: 14px;
		font-weight: 700;
		color: #fff;
		transition: all .5s ease;
		&:hover{
			background-color: #208FC4;
		}
	}
	.material-block{
		margin-top: 40px;
		.material-block__input-wrapper{
			padding-top: 35px;
			padding-bottom: 35px;
			padding-right: 15px;
			padding-left: 15px;
			background-color: #fff;
			border-left: 4px solid #6BB5D8;
			display: flex;
			flex-direction: column;
			row-gap: 5px;
			.quill-editor-wrapper{
				width: 600px;
			}
			.material-block__input{
				box-sizing: border-box;
				height: 40px;
				width: 600px;
				padding-right: 12px;
				padding-left: 12px;
				background-color: #fff;
				border: 1px solid #D0D5DD;
				box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.1);
				border-radius: 6px;
				color: #344054;
				margin-bottom: 15px;
				&:focus{
					outline: 3px solid #EBF5FA;
    				border-color: #399CCB;
				}
			}
			.material-block__input-textarea{
				width: 600px;
				height: 165px;
				resize: none;
				box-sizing: border-box;
				padding-top: 10px;
				padding-bottom: 10px;
				padding-right: 12px;
				padding-left: 12px;
				background-color: #fff;
				border: 1px solid #D0D5DD;
				box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.1);
				border-radius: 6px;
				color: #344054;
				&:focus{
					outline: 3px solid #EBF5FA;
    				border-color: #399CCB;
				}
			}
			.dropdown {
				position: relative;
				display: inline-block;
				cursor: pointer;
				&__selected {
					display: flex;
					justify-content: space-between;
					width: 600px;
					height: 40px;
					background-color: #fff;
					border: 1px solid #D0D5DD;
					box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.1);
					border-radius: 6px;
					font-family: $font-family_roboto;
					color: $input_fields_color;
					padding: 10px;
					line-height: 17px;
					font-size: 12px;
					svg{
						color: #98A2B3;
						margin-top: 2px;
					}
				}
				&__list {
					position: absolute;
					z-index: 1000;
					padding: 0;
					list-style: none;
					border: 1px solid #ccc;
					background-color: #fff;
					width: 600px;
					margin-top: -3px;
				}
				&__item {
					padding: 10px;
					cursor: pointer;
					color: $input_fields_color;
					font-size: 12px;
					&:hover {
						background-color: #2c83be;
						color: #fff;
					}
					&--selected {
						background-color: #ebf5fa;
					}
				}
			}
			.material-block__input-file{
				margin-top: 5px;
				margin-bottom: 5px;
			}
			.material-block__label{
				display: block;
				font-family: $font-family_roboto;
				font-size: 14px;
				font-weight: 600;
				padding: 0;
			}
			.material-block__description{
				display: block;
				font-family: Roboto, sans-serif;
				color: #98A2B3;
				font-size: 12px;
				font-weight: 500;
				max-width: 600px;
				padding: 0;
			}
		}
		.material-block_button-wrapper{
			display: flex;
			gap: 10px;
			margin-top: 20px;
		}
		.material-block__save-button{
			width: 100px;
			height: 33px;
			border-radius: 6px;
			border: none;
			background-color: #0783BE;
			border: 1px solid #0783BE;
			cursor: pointer;
			font-family: $font-family_roboto;
			color: #fff;
			font-size: 14px;
			font-weight: 500;
			transition: all .5s ease;
			&:hover{
				background-color: #066998;
				border-color: #066998;
			}
		}
		.material-block__cancel-button{
			width: 100px;
			height: 33px;
			border-radius: 6px;
			border: none;
			background-color: transparent;
			border: 1px solid #0783BE;
			cursor: pointer;
			font-family: $font-family_roboto;
			color: #0783BE;
			font-size: 14px;
			font-weight: 500;
			transition: all .5s ease;
			&:hover{
				background-color: #f3f9fc;
				border-color: #0783BE;
				color: #0783BE;
			}
		}
	}
}

/*** Add New Exercise Item ***/

.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.modal-content {
	background: white;
	padding: 27px;
	border-radius: 5px;
	width: 80%;
	max-width: 760px;
	.modal-content__title{
		font-family: $font-family_roboto;
		color: $color_1;
		padding-top: 15px;
		padding-bottom: 15px;
		font-size: 16px;
		font-weight: 600;
	}
	.modal-close-btn{
		width: 65px;
		height: 27px;
		border-radius: 6px;
		background-color: transparent;
		border: 1px solid #208FC4;
		cursor: pointer;
		font-family: Roboto, sans-serif;
		color: #208FC4;
		font-size: 12px;
		font-weight: 500;
		transition: all 0.5s ease;
		&:hover{
			background-color: #208FC4;
			color: #fff;
		}
	}
}

.material-grid {
	display: flex;
    gap: 15px;
    flex-wrap: wrap;
	margin-bottom: 30px;
}

.material-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 165px;
	height: 130px;
	padding: 15px;
	border-radius: 10px;
	text-align: center;
	cursor: pointer;
	box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, .18);
	transition: all .5s ease;
	&:hover{
		box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, .25);
		background: #fff;
	}
	.material-title {
		font-size: 14px;
		font-weight: 600;
		line-height: 12px;
		margin-bottom: 5px;
	}
	.material-icon{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 45px;
		height: 45px;
		border-radius: 100px;
		background-color: #0883be;
		margin-bottom: 10px;
		svg{
			width: 20px;
			height: 20px;
			color: #fff;
		}
	}
}
