$color_1: #333333;
$input_fields_color: #757575;
$font-family_roboto: Roboto, sans-serif;
$background-color_1: #fff;
$background-color_2: transparent;

/*** Add New Lesson Block ***/

.add-new-block{
	padding-top: 25px;
	padding-bottom: 25px;
	.add-new-block__btn{
		width: 130px;
		height: 35px;
		line-height: 30px;
		border-radius: 50px;
		border: none;
		background-color: #0883be;
		cursor: pointer;
		font-family: $font-family_roboto;
		font-size: 14px;
		font-weight: 700;
		color: #fff;
		transition: all .5s ease;
		&:hover{
			background-color: #208FC4;
		}
	}
	.material-block{
		margin-top: 40px;
		.material-block__input-wrapper{
			padding-top: 35px;
			padding-bottom: 35px;
			padding-right: 15px;
			padding-left: 15px;
			background-color: #fff;
			border-left: 4px solid #6BB5D8;
			display: flex;
			flex-direction: column;
			row-gap: 5px;
			.quill-editor-wrapper{
				width: 600px;
			}
			.material-block__input{
				box-sizing: border-box;
				height: 40px;
				width: 600px;
				padding-right: 12px;
				padding-left: 12px;
				background-color: #fff;
				border: 1px solid #D0D5DD;
				box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.1);
				border-radius: 6px;
				color: #344054;
				margin-bottom: 15px;
				&:focus{
					outline: 3px solid #EBF5FA;
    				border-color: #399CCB;
				}
			}
			.material-block__input-textarea{
				width: 600px;
				height: 165px;
				resize: none;
				box-sizing: border-box;
				padding-top: 10px;
				padding-bottom: 10px;
				padding-right: 12px;
				padding-left: 12px;
				background-color: #fff;
				border: 1px solid #D0D5DD;
				box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.1);
				border-radius: 6px;
				color: #344054;
				&:focus{
					outline: 3px solid #EBF5FA;
    				border-color: #399CCB;
				}
			}
			.dropdown {
				position: relative;
				display: inline-block;
				cursor: pointer;
				&__selected {
					display: flex;
					justify-content: space-between;
					width: 600px;
					height: 40px;
					background-color: #fff;
					border: 1px solid #D0D5DD;
					box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.1);
					border-radius: 6px;
					font-family: $font-family_roboto;
					color: $input_fields_color;
					padding: 10px;
					line-height: 17px;
					font-size: 12px;
					svg{
						color: #98A2B3;
						margin-top: 2px;
					}
				}
				&__list {
					position: absolute;
					z-index: 1000;
					padding: 0;
					list-style: none;
					border: 1px solid #ccc;
					background-color: #fff;
					width: 600px;
					margin-top: -3px;
				}
				&__item {
					padding: 10px;
					cursor: pointer;
					color: $input_fields_color;
					font-size: 12px;
					&:hover {
						background-color: #2c83be;
						color: #fff;
					}
					&--selected {
						background-color: #ebf5fa;
					}
				}
			}
			.material-block__input-file{
				margin-top: 5px;
				margin-bottom: 5px;
			}
			.material-block__label{
				display: block;
				font-family: $font-family_roboto;
				font-size: 14px;
				font-weight: 600;
				padding: 0;
			}
			.material-block__description{
				display: block;
				font-family: Roboto, sans-serif;
				color: #98A2B3;
				font-size: 12px;
				font-weight: 500;
				max-width: 600px;
				padding: 0;
			}
		}
		.material-block_button-wrapper{
			display: flex;
			gap: 10px;
			margin-top: 20px;
		}
		.material-block__save-button{
			width: 100px;
			height: 33px;
			border-radius: 6px;
			border: none;
			background-color: #0783BE;
			border: 1px solid #0783BE;
			cursor: pointer;
			font-family: $font-family_roboto;
			color: #fff;
			font-size: 14px;
			font-weight: 500;
			transition: all .5s ease;
			&:hover{
				background-color: #066998;
				border-color: #066998;
			}
		}
		.material-block__cancel-button{
			width: 100px;
			height: 33px;
			border-radius: 6px;
			border: none;
			background-color: transparent;
			border: 1px solid #0783BE;
			cursor: pointer;
			font-family: $font-family_roboto;
			color: #0783BE;
			font-size: 14px;
			font-weight: 500;
			transition: all .5s ease;
			&:hover{
				background-color: #f3f9fc;
				border-color: #0783BE;
				color: #0783BE;
			}
		}
	}
}

/*** Modal ***/

.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

/*** Modal ***/

.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.modal-content {
	background: white;
	padding: 27px;
	border-radius: 5px;
	width: 80%;
	max-width: 760px;
	.modal-content__title{
		font-family: $font-family_roboto;
		color: $color_1;
		padding-top: 15px;
		padding-bottom: 15px;
		font-size: 16px;
		font-weight: 600;
	}
	.modal-close-btn{
		width: 65px;
		height: 27px;
		border-radius: 6px;
		background-color: transparent;
		border: 1px solid #208FC4;
		cursor: pointer;
		font-family: Roboto, sans-serif;
		color: #208FC4;
		font-size: 12px;
		font-weight: 500;
		transition: all 0.5s ease;
		&:hover{
			background-color: #208FC4;
			color: #fff;
		}
	}
}

/*** Add New Exercise Item ***/

.material-grid {
	display: flex;
    gap: 15px;
    flex-wrap: wrap;
	margin-bottom: 30px;
}

.material-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 165px;
	height: 130px;
	padding: 15px;
	border-radius: 10px;
	text-align: center;
	cursor: pointer;
	box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, .18);
	transition: all .5s ease;
	&:hover{
		box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, .25);
		background: #fff;
	}
	.material-title {
		font-size: 14px;
		font-weight: 600;
		line-height: 12px;
		margin-bottom: 5px;
	}
	.material-icon{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 45px;
		height: 45px;
		border-radius: 100px;
		background-color: #0883be;
		margin-bottom: 10px;
		svg{
			width: 20px;
			height: 20px;
			color: #fff;
		}
	}
}